<!doctype html>
<html lang="en"xmlns:th="http://www.thymeLeaf.org" 
	th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<h1>About learncode with Durgesh</h1>
		<p>Looking to learn programming and coding in Hindi? Look no further! Our website offers a wide range of courses to help you learn programming languages like Java, Python, and more. Our expert instructors provide comprehensive lessons and hands-on projects to help you master coding in very efficent and effective way.</p>
		</section>
</body>
</html>